.addressbook-wrap{
    width: 100%;
}

.addr-box{
    display: flex;
}

.addr-group{
    width: 30%;
    height: 700px;
}

.addr-addressbook{
    width: 70%;
    height: 700px;
}

.addr-title{
    margin: 40px 0px;
}

.group-add-btnbox{
    display:flex;
    padding : 30px 0px 30px 20px;
}

.group-addBtn{
    margin-right : 10px !important;
}

.addr-add-title{
    padding : 30px 0px 20px 25px;
}



.non-click {
    background-color: white;
}

.clicked {
     background-color: #548235 ;
     color: white;
     padding-left: 15px;
}

.non-clicked{
    padding-left: 15px;
}

.addrList-Box{
    border : solid 1px #e8e8e8;
    width: 95%;
    height : 50%;
    margin : 0px auto;
}

.add-input-box{
    display: flex;
    align-items : center;
    width : 95%;
    margin: 0px 5px;
}
.add-title{
    padding : 20px 0px 20px 5px;
}
.addr_name , .addr_phone {
    margin-right : 10px !important;
}
.addr-add-btn{
    font-size : 30px !important;
}

.addr_email{
    margin-right : 25px !important;
}

.group-List-Box{
    border: solid 1px #e8e8e8;
    margin : 0px auto;
    width: 95%;
    height: 595px;
    border-radius : 5px;
}

.alert-position{
    position : fixed;
    top : 30px;
    left : 15%;
    width: 70%;
    z-index : 9999;
}

.updateBtn{
    margin-left : 75px !important;
}

.addressAdd-form{
    align-items: center;
    display: flex;
}
